<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dropdown.css">
    <title>Document</title>
</head>
<body>
     <div class="dropdown">
        <span>Hover me</span>
        <div class="drop-content">
            <p>Hello World</p>
        </div>

    </div>
    <div class="dropbutton">
        <button>Dropdown</button>
        <div class="dropdowncontent">
            <a href="#">link1</a>
            <a href="#">link2</a>
            <a href="#">link3</a>
        </div>
        <br><br>
    </div>
    <h2>Counters Using CSS</h2>
    <h3>HTML</h3>
    <h3>CSS</h3>
    <h3>PYTHON</h3>
    <h3>JAVA</h3>
    <h3>C++</h3>
    <a href="#">GOOGLE</a>
    <a href="#" target="_blank">FACEBOOK</a>
    <a href="#" target="_top">INSTAGRAM</a>
    <br><br><br>
    <img src="/static\img\tree.jpg" alt="img" title="Road-tree" width="150px" height="">
    <img src="/static/img/drops.jpg" alt="" title="Drops" width="200px" height="">
    <img src="/static/img/road.jpg" alt="" title="road" width="250px" height=""> 
    <div class="container">
    <input type="text">
    <input type="number">
    <input type="button">
</div>
</body>
</html>