<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index1.css">
    <title>Document</title>
    
</head>
<body>
    <!-- <div class="hello">
        <h1>hello world</h1>
    </div>

    <div class="heyy">
       <h2>Anyone there ..?</h2>
    </div>
    <div class="container">
        <p>L'Oréal S.A. (French pronunciation: ​[lɔʁeal]) is a French personal care company headquartered in Clichy, Hauts-de-Seine[2] with a registered office in Paris.[3] It is the world's largest cosmetics company and has developed activities in the field concentrating on hair color, skin care, sun protection, make-up, perfume, and hair care.[4]</p>

    </div>
    <div class="tablecontainer">
    <table>
        <tr>
            <th>SI No</th>
            <th>Name</th>
            <th>Contact</th>
        </tr>
        
        <tr>
            <td>1</td>
            <td>Anica Remin</td>
            <td>45665645</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Obitha Thomas</td>
            <td>856734548</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Aneeta Sunish</td>
            <td>209744658</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Jisna Dkinju</td>
            <td>12345678</td>
        </tr>
        
    </table>
</div> -->
<!-- <div>
    <h1>Descedant</h1>
    <p>qwertyui</p>
    <p>asdfghjk</p>
    <p>zxcvbnm</p>
    <section>
        <p>edrfvjnm</p>
    </section>
</div>
<p>Adjacent Sibling</p>
<p>General Sibling</p>
<h1>Student</h1> -->
<div>
    <h2>Blank</h2>
    <p>asdfghjk</p>
</div>
 

</body>
</html>