<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginform.css">
    <title>Document</title>
    <style>
        ::placeholder{
            color: white;
        }
        :-ms-input-placeholder{
            color:white;
        }
    </style>
</head>
<body>
    <div class="loginform">
        <img src="/static\img\instaicon.jpg" alt="" width="40px" height="40px">
    <h1>INSTAGRAM</h1>
    <input type="text" name="Username" placeholder="Username">
    <br><br>
    <input type="password" name="Password" placeholder="Password">
    <h4>Forgot password?</h4>
    <br>
    <button><input type="submit"></button>
    <h5>--------Or--------</h5>
    <h5>login with facebook</h5>
</div>
    
</body>
</html>